<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">1. appSetting</h5>
      <pre>{{ appSettingValue }}</pre>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">2. baseUrl</h5>
      <pre>{{ baseUrlValue }}</pre>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">3. detectSubEnvironment</h5>
      <pre>{{ detectSubEnvironment }}</pre>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">4. subEnvironmentSetting</h5>
      <pre>{{ subEnvironmentSettingValue }}</pre>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">5. environment</h5>
      <pre>{{ environmentValue }}</pre>
    </div>
  </div>
</div>
